name: docker image ci

on:
  pull_request:
    types: [opened, synchronize]
  push:
    paths-ignore:
    - '**.md'
    branches:
    - master

jobs:
  test:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: build
      env:
        DOCKER_IMAGE: docker.pkg.github.com/${{ github.repository }}/action:latest
      run: |
        docker build . --file Dockerfile --tag ${DOCKER_IMAGE}

  shellcheck:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2

    - name: shellcheck
      run: shellcheck ./entrypoint.sh

  hadolint:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - run: brew install hadolint
    - run: hadolint ./Dockerfile
